# Visual Studio
.vs/
**/.vs/

# .NET
**/bin/
**/obj/

# Node
**/node_modules/

# Angular
**/dist/

# Logs
*.log

# Environment
.env
.env.*

# Visual Studio user files
*.user
*.suo
*.userosscache
*.sln.docstates