# Visual Studio
.vs/
**/.vs/

# Build output
bin/
obj/

# Angular
node_modules/
dist/

# Logs
*.log

# Environment files
.env
.env.*

# Visual Studio user files
*.user
*.suo
*.userosscache
*.sln.docstates